{% extends 'base.html' %}

{% block header %}
  <h1>{% block ip %}Edit "{{ configurations['ProxyIP'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <!--// Print configuration row result-->
    {% set keys=configurations.keys() %}
    {% for key in keys %}
      {% if key!='id' %}
        <label for="{{ key }}">{{ key }}</label>
        {% if key in password_keys %}
          <input type="password" name="{{ key }}" id="{{ key }}" value="{{ configurations[key]}}" required>
        {% else %}
          <input name="{{ key }}" id="{{ key }}" value="{{ configurations[key]}}" required>
        {% endif %}
      {% endif %}
    {% endfor %}

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('configure.delete', id=configurations['id']) }}"
      method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}