.git
.idea
.pytest_cache
/DockerBuilds
/IntermediateCommands
/logs
.gitmodules
.travis.yml
.dockerignore
Schematics.vsdm
Schematics.vsdx
setup_check.py
LocalDB
HeuDIConv
setup.py
install.py
appveyor.yml
logo.png
.env
**/developemnt.py
**/production.py