[submodule "PythonUtils"]
	path = PythonUtils
	url = https://github.com/dyt811/PythonUtils
[submodule "datagator"]
	path = datagator
	url = https://github.com/CNBP/datagator
[submodule "DICOMTransit/RCAPI"]
	path = DICOMTransit/RCAPI
	url = https://github.com/CNBP/RCAPI
